body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.tex-white {
    color: #ffffff;
}

.l-box {
    padding: 2em;
}

.header .pure-menu {
    background: #222222;
    border-bottom-color: black;
    border-radius: 0;
}

.sizing
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width :100%;
    height:60%;
    max-width: 60vmin;
}

.comment
{
    overflow: auto;
    overflow: hidden;
    outline: none;
    resize: none;
    height: 3vmin;
    width : 75%;
    padding: 10px;
    font-size: 2vmin;
}

.comment_list
{
    width :75%;
    height: 15vmin;
    padding-left: 5vmin;
    overflow: auto;
    font-size: 2vmin;
    max-height: 10vh;
}

.send
{
    position: relative;
    top: -2vmin;
    padding-left: 3%;
    width: 6vmin;
    max-width: 6vmin;
}

.like
{
    text-align: left;
    font-size: 3vmin;
    padding-left: 5vmin;
}

/* -------- The Modal (background)  ------*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 5vmin; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 5vmin;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ----------------------- */

.pure-menu-link {
    padding: 1em .7em;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}

    .photo-box img {
        max-width: 100%;
        height: auto;
        min-height: 250px;
    }

    .photo-box aside {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        color: white;
        width: 100%;
        font-size: 80%;
        text-align: right;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

    }

    .photo-box aside span {
        color: #aaa;
    }

        .photo-box aside span a {
            color: #ccc;
            text-decoration: none;
        }

.text-box {
    background: rgb(255,255,255); /* bluish grey */
    color: rgb(0, 0, 0); /* steel blue */
}

    .text-box-head {
        color: #fff;
        padding-bottom: 0.2em;
        font-weight: 400;
        letter-spacing: 0.05em;
        font-size: 24px;
    }

    .text-box-subhead {
        font-weight: normal;
        letter-spacing: 0.1em;
    }

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #eee;
}

    .form-box .pure-button {
        background-color: #61B842;
        color: white;
        vertical-align: top;
        font-size: 85%;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        border-radius: 4px;
        margin: 0.3em;
    }
    .pure-form input[type] {
        margin: 0.3em auto;
        text-align: center;
    }

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

/* ------------- sizing ---------  */

@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 11px;
    }
}
